<html>

<head>
    <title>Super Campaign</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    </link>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1>View a Campaign</h1>

    <h3>Campaign ID</h3>
    <p>
        <%= id %>
    </p>

    <h3>Campaign Name</h3>
    <p>
        <%= name %>
    </p>

    <h3>Start Date</h3>
    <p>
        <%= sDate %>
    </p>

    <h3>End Date</h3>
    <p>
        <%= eDate %>
    </p>

    <h3>Campaign Managers</h3>
    <table align="left">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </table>

    <h3>Canvassers</h3>
    <table align="left">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </table>
    <br>

    <h3>Assignment</h3>
    <p>
        <%= assignment %>
    </p>
    <br>

    <h3>Questionaire</h3>
    <table align="left">
        
    </table>
    <br>

    <h3>Talking Points</h3>
    <table align="left">
        
        <tr>
            <td>

            </td>
        </tr>
    </table>
    <br>

    <h3>Locations</h3>
    <table align="left">
        <tr>
            <th>Street Number</th>
            <th>Street</th>
            <th>Unit</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
        </tr>
        <% for(var i=0; i < location.length; i++){ %>
        <tr>
            <!-- <td><%= location[i]._id %></td> -->
            <td>
                <%= location[i]._streetNumber %>
            </td>
            <td>
                <%= location[i]._street %>
            </td>
            <td>
                <%= location[i]._unit %>
            </td>
            <td>
                <%= location[i]._city %>
            </td>
            <td>
                <%= location[i]._state %>
            </td>
            <td>
                <%= location[i]._zipcode %>
            </td>
        </tr>
        <% } %>
    </table>


    <div id="map">
    </div>
    <script>
        function mapper() {
            var uluru = { lat: -25.344, lng: 131.036 };
            var map = new google.maps.Map(
                { height: "400px", width: "100%", zoom: 4, center: uluru });
            var marker = new google.maps.Marker({ position: uluru, map: map });
        };
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkzTbqwM75PSyw0vwMqiVb9eP6NjnClFk&callback=mapper"></script>

</body>

</html>